# Ignore build output and other Bazel artifacts
bazel-bin/
bazel-deep_net/
bazel-out/
bazel-testlogs/
build/
out/
MODULE.bazel.lock
*.o
*.elf
*.bin
*.hex

# Ignore IDE-specific files
.vscode/
.idea/
*.launch

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore configuration files with sensitive info
config.ini

# Ignore MNIST hand written digits dataset directory
mnist/

learning_material/

# Don't ignore .gitignore itself
!.gitignore
